<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frogs.matzip.rest.RestMapper">
	<insert id="insRest" parameterType="RestVO" useGeneratedKeys="true"  keyProperty="i_rest">
		INSERT INTO t_rest
		(nm, addr, lat, lng, i_category, phone, price_range, open_time, close_time, ctnt, i_district)
		VALUES
		(#{nm}, #{addr}, #{lat}, #{lng}, #{i_category}, #{phone}, #{price_range}, #{open_time}, #{close_time}, #{ctnt}, #{i_district})
	</insert>
	
	<insert id="insFoodMenu" parameterType="RestFoodVO">
		INSERT INTO t_rest_pic 
		(i_rest, seq, food_pic)
		SELECT #{i_rest}, ifnull(max(seq), 0) + 1, #{food_pic}
		FROM t_rest_pic
	</insert>
	
	<insert id="insReview" parameterType="RestReviewVO">
		INSERT INTO t_review
		(i_user, i_rest, grade, ctnt)
		VALUES
		(#{i_user}, #{i_rest}, #{grade}, #{ctnt})
	</insert>
	
	<select id="selRest" parameterType="RestPARAM" resultType="RestDMI">
		SELECT i_rest, nm, addr, lat, lng, i_category, menu_pic, hit, r_dt, m_dt, phone, price_range, open_time, close_time, ctnt, i_district
		FROM t_rest
		<if test="i_rest > 0">
			WHERE i_rest = #{i_rest}
		</if>
	</select>
	
	<select id="selRecRestList" resultType="RestDMI">
		SELECT * FROM t_rest
	</select>
	
	<select id="selCategoryList" resultType="RestDMI">
		SELECT i_category, val as category_val FROM t_category
	</select>
	
	<select id="selDistrictList" resultType="RestDMI">
		SELECT i_district, val as district_val FROM t_district
	</select>
	
	<select id="selRestList" parameterType="RestPARAM" resultType="RestDMI">
	 	SELECT i_rest, nm, addr, lat, lng, i_category, i_district
	 	FROM t_rest
	 	<choose>
	 		<when test="search_text != null">
	 			WHERE nm like #{sql_search_text} or addr like #{sql_search_text}
	 		</when>
	 		<otherwise>
	 			WHERE lat BETWEEN #{sw_lat} AND #{ne_lat}
				AND lng BETWEEN #{sw_lng} AND #{ne_lng}
	 		</otherwise>
	 	</choose>
	 	ORDER BY i_rest
	</select>
	
	<select id ="selFoodmenu" parameterType="RestPARAM" resultType="RestFoodVO">
		SELECT i_rest, seq, food_pic
		FROM t_rest_pic
	</select>
	
	<select id ="selReviewList" parameterType="RestPARAM" resultType="RestDMI">
		SELECT A.seq, A.i_user, A.i_rest, A.grade, A.ctnt, A.m_dt, B.nm
		FROM t_review A
		LEFT JOIN t_user B
		ON A.i_user = B.i_user
		ORDER BY m_dt DESC
	</select>
	
	<select id="selReviewCount" parameterType="RestReviewVO" resultType="RestDMI">
		SELECT COUNT(seq) AS review_cnt FROM t_review
		WHERE i_rest = #{i_rest}
	</select>
	
	<update id="updRestMenu" parameterType="RestVO">
		UPDATE t_rest SET menu_pic = #{menu_pic}
		WHERE i_rest = #{i_rest}
	</update>
	
	<update id="updReview" parameterType="RestReviewVO">
		UPDATE t_review SET ctnt = #{ctnt}
		WHERE i_user = #{i_user}
		AND seq = #{seq} 
	</update>
	
	<delete id="delReview" parameterType="RestReviewVO">
		DELETE FROM t_review
		WHERE i_user = #{i_user}
		AND seq = #{seq}
	</delete>
</mapper>