@charset "UTF-8";

/* index header */
.main_back{background: url(/res/img/main.jpg) no-repeat 80%; width: 100%; height: 640px; background-size: cover;}
header{width: 100%; height: 70px; background-color: #ffffff6b;}
.head{max-width: 1200px;height: 70px;margin: 0 auto; display: flex; justify-content: space-between; align-items: center; }
h2 {display: inline;}
#lnb_logo{ font-family: 'TmoneyRoundWindExtraBold';font-size: 1.5rem;}
.lnb{position: relative; float: right; width: 280px; font-size: 1.2rem; }
.lnb_wrap li{float: left; margin-left: 9%;}