@charset "UTF-8";

/*list*/
.container { width: 100%; display: flex; margin-top: 70px; }
#list_back { width: 400px;  margin-top: 20px; overflow-y: auto; }
#place_title { margin-left: 20px; }

.list_wrap { width: 100%; border-bottom: 1px solid #dbdbdb; }
.list_wrap .list_ctnt_wrap { margin: 20px; position: relative; }
.list_wrap .list_ctnt_wrap .matzip_list { display: inline-block; width: 150px; height: 150px; border: 1px solid #000; background-size: cover; border-color: white; }
.list_wrap .list_ctnt_wrap .food_img { max-width: 150px; max-height: 150px; }
.list_wrap .ctnt_wrap { display: inline-block; position: absolute; top: 0; left: 170px; }
.list_wrap .ctnt_wrap h3 { display: inline-block; font-size: 1.5rem;}
.list_wrap .ctnt_wrap strong { margin-left: 10px; color: #f07a2c;}
.list_wrap .ctnt_wrap p { display: inline-block; margin-top: 4px; color: #9b9b9b;}

/*map*/
#map { height: calc(100vh - 170px); flex: 1; border-left: 1px solid #DBDBDB; }

/* marker */
.label {margin-bottom: 96px;}
.label * {display: inline-block; vertical-align: top; }
.label .left {background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_l.png") no-repeat;display: inline-block;height: 24px;overflow: hidden;vertical-align: top;width: 7px;}
.label .center {background: url(https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_bg.png) repeat-x;display: inline-block;height: 24px;font-size: 12px;line-height: 24px;}
.label .right {background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_r.png") -1px 0  no-repeat;display: inline-block;height: 24px;overflow: hidden;width: 6px;}